{% extends 'UkronicBundle::layout.html.twig' %}

{% block content %}
	<div class="presentation"></div>
	<div class="row">

		
	

		
		<div class="col-md-3 col-md-offset-3">
			<p><a href=" {{ path("dbukronic",{'id':decrypt.movie.id}) }} "><img class="img-responsive center-block img-decrypt-big" src="{{ decrypt.movie.posterURL }}" alt="image Film"></a></p>
		</div>
	
		<div class="col-md-3">
			
			<p class="">Décryptage de  {{ decrypt.movie.title }}</p>
			<p>
				{% if decrypt.typeDecrypt == "F" %}
					Hypothèse de fin
				{% else %}
					Séquence
				{% endif %}
				"{{ decrypt.title }}"
			</p>
			<p class="">  par {{ decrypt.user.username }} </p>
			
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<p class="commentaire">
			{{ decrypt.content }} 
			</p>
			<p class="text-right">
			{% if user != "anon." %}
					{% if not liked  %}
					<a href="{{ path('decryptLike', {'id' : decrypt.id }) }}" class="btn btn-primary btn-like"><img class="icon-ukronic-big" src="{{ asset("images/FBLike-Icon_300_v2.png") }}" alt="like"></a>
					{% else %}
						<a href="#" class="btn btn-warning"><img class="icon-ukronic-big" src="{{ asset("images/Like-2-icon.png")}}" alt="liked"></a>
					
					{% endif %}
					{{ nbLiked }}	
				{% endif %}
			</p>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<h2 class="text-center">Commentaires</h2>
			{% if user != "anon." %}
			{{ form_start(form) }}
			
			<p class="text-center"></p>
			<div>
			{{ form_widget(form.content,{'value':'','attr':{'id':'comContent',
				'placeholder':'Entrez un commentaire',
				'class':'form-control',
				'rows':5

			}}) }}
			</div>
			
			{{ form_widget(form.save) }}
			{{ form_end(form) }}
			{% endif %}
			{% if decrypt.comments is not empty  %}
				{% for comment in decrypt.comments | reverse %}
					<div class="commentaire">

					    <p>
					    	Le {{ comment.dateComment | date("d/m/Y h:i") }} 
					    
					     Par {{comment.user.userName | upper }} </p>
					    <p> "{{ comment.content }}" </p>
					    <p>

					    	{{render(controller('UkronicBundle:Comment:IsLike',{'id':comment.id,'userId':user.id}))}}
					    
					</div>
				{% endfor %}
			{% endif %}
		</div>
	</div>
    
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script>
	$(function(){
		
		// $('#form_control').val('bullshit lorem');
	});

	</script>
    
{% endblock %}