{% extends 'UkronicBundle::layout.html.twig' %}

{% block content %}
	<div class="presentation block-first"></div>
	<div class="container decrypt-display">
		<div class="row">
			<div class="col-md-3 col-md-offset-3 col-sm-4 col-sm-offset-2 col-xs-6">
				<p><a href=" {{ path("dbukronic",{'id':decrypt.movie.id}) }} "><img class="img-responsive center-block img-decrypt-big" src="{{ decrypt.movie.posterURL }}" alt="image Film"></a></p>
			</div>

			<div class="col-md-3 col-sm-4 col-xs-6">


				<p class="">Décryptage de  <a href="{{ path('dbukronic',{'id':decrypt.movie.id}) }}"> {{ decrypt.movie.title }}  </a></p>
				<p>
					{% if decrypt.typeDecrypt == "F" %}
						Hypothèse de fin

					{% else %}
						Séquence
					{% endif %}
				</p>

					"{{ decrypt.title }}"
				</p>
				<p>  par <a href="{{ path('profile',{'id':decrypt.user.id}) }}"> {{ decrypt.user.username }} </a></p>
				<p>
					{{ nbLiked }}
					<button id="signaler" class="btn-blue" data-button="{{ decrypt.id }}">Signaler</button>
					<div id="notif"></div>
				</p>

			</div>

		</div>
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
				<p class="commentaire">
				{{ decrypt.content }}
				</p>
				<p class="text-right">
					{% if user != "anon." %}
						{% if not liked  %}
						<a href="{{ path('decryptLike', {'id' : decrypt.id }) }}" class="btn btn-primary btn-like"><img class="icon-ukronic-big" src="{{ asset("images/FBLike-Icon_300_v2.png") }}" alt="like"></a>
						{% else %}
							<a href="#" class="btn btn-warning"><img class="icon-ukronic-big" src="{{ asset("images/Like-2-icon.png")}}" alt="liked"></a>

						{% endif %}
						{{ nbLiked }}
						<button id="signaler" class="btn-blue" data-button="{{ decrypt.id }}">Signaler</button>
						<div id="notif"></div>
					{% endif %}
				</p>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<h2 class="text-center">Commentaires</h2>
				{% if user != "anon." %}
				{{ form_start(form) }}

				<p class="text-center"></p>
				<div>
				{{ form_widget(form.content,{'value':'','attr':{'id':'comContent',
					'placeholder':'Entrez un commentaire',
					'class':'form-control',
					'rows':5

				}}) }}
				</div>

				{{ form_widget(form.save) }}
				{{ form_end(form) }}
				{% endif %}
				{% if decrypt.comments is not empty  %}
					{% set userId = user.id is defined ? user.id : null %}
					{% for comment in decrypt.comments | reverse %}
						<div class="commentaire">

							<p>
								Le {{ comment.dateComment | date("d/m/Y h:i") }}

							 Par {{comment.user.userName | upper }} </p>
							<p> "{{ comment.content }}" </p>
							<p>
								{% if userId is null %}
									{{render(controller('UkronicBundle:Comment:IsLikeAnonymous',{'id':comment.id}))}}
								{% else %}
									{{render(controller('UkronicBundle:Comment:IsLike',{'id':comment.id,'userId':userId}))}}
									<button class="signalComment btn-blue" data-button="{{ comment.id }}">Signaler</button>
								{% endif %}
							</p>
						</div>
					{% endfor %}
				{% endif %}
			</div>

		</div>
	</div>

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script>
	$(function(){

		$('#signaler').click(function(e){
			e.preventDefault();
			console.log("bouton signaler cliqué");
			var myButton = $(this);
			var monId = $(this).attr('data-button');
			// console.log("monId : "+monId);
			var monUrl = "{{ path('decryptSignalement',{'id': 'monId'}) }}";
			monUrl = monUrl.replace('monId',monId);
			// console.log("MonUrl : "+monUrl);
			$.ajax({
				url : monUrl ,
				dataType: "json"



				}).done(function(data){
					// console.log(data);
					$("#notif").html('décryptage signalé');
					myButton.hide();
				}
			).fail(function(err){
				// console.log('Echec ajax');
				// console.log(err);
				$("#notif").html("erreur technique impossible de signaler ce contenu");
			});

		});

		$('.signalComment').click(function(e){
			e.preventDefault();
			var myButton = $(this);
			console.log("bouton signaler cliqué");

			var monId = $(this).attr('data-button');
			// console.log("monId : "+monId);
			var monUrl = "{{ path('commentSignalement',{'id': 'monId'}) }}";
			monUrl = monUrl.replace('monId',monId);
			// console.log("MonUrl : "+monUrl);
			$.ajax({
				url : monUrl ,
				dataType: "json"



				}).done(function(data){
					// console.log(data);
					$('<span>décryptage signalé</span>').insertAfter(myButton);
					myButton.hide();

				}
			).fail(function(err){
				// console.log('Echec ajax');
				// console.log(err);
				$('<span>erreur traitement</span>').insertAfter(myButton);
			});

		});
	});

	</script>

{% endblock %}