{% extends 'UkronicBundle::layout.html.twig' %}

{% block content %}

	<section class="block-first">
		<h1 class="text-center">S'inscrire</h1>
		<div>
			{# le formulaire d'inscription #}

			{{ form_start(form) }}



			{{ form_row(form.email, {'label': 'Email'}) }}

			{{ form_row(form.username, {'label': 'Pseudo'}) }}

			{{ form_row(form.password, {'label': 'Mot de passe'}) }}

			{# inclure le captcha #}

			{# accord des CGU #}

			{# bouton créer mon compte pour la validation du formulaire #}

			{{ form_rest(form) }}

			{{ form_end(form) }}



		</div>
	</section>
{% endblock %}