{% import 'UkronicBundle::macros.html.twig' as macros %}
{% extends 'UkronicBundle::layout.html.twig' %}

{% block content %}
	

	<section id="image-ukronic-salle" class="fh5co-bg-section">

		{#
		<img class="ukronic_fond" src="{{asset("images/Image public big.png") }}" alt="">
		#}
		<h1 class="text-center invite-title">Soyez prêt à découvrir une nouvelle dimension de vos films et séries</h1>
		<div class="text-center invite-link">
			<a href="#explications" class="btn btn-default btn-explications">En savoir plus</a>
		</div>
	</section>

	<section id="explications">
		<div class="container">
			<div class="row text-center">
				<div class="col-md-3">
					<span class="fa-stack fa-lg">
					  <i class="fa fa-circle fa-stack-2x blue"></i>
					  <i class="fa fa-question fa-stack-1x fa-inverse"></i>
					</span>
					<p>Vous avez des questions sur le film ou l'épisode de la série que vous venez de voir ?</p>
				</div>
				<div class="col-md-3">
					<span class="fa-stack fa-lg">
					  <i class="fa fa-circle fa-stack-2x blue"></i>
					  <i class="fa fa-user fa-stack-1x fa-inverse"></i>
					</span>
					<p>Vous avez des hypothèses bien tranchées sur un personnage ?</p>
				</div>
				<div class="col-md-3">
					<span class="fa-stack fa-lg">
					  <i class="fa fa-circle fa-stack-2x blue"></i>
					  <i class="fa fa-lightbulb-o fa-stack-1x fa-inverse"></i>
					</span>
					<p>Ici pas de critique ! Dites seulement ce que vous avez compris ... ou pas compris !</p>
				</div>
				<div class="col-md-3">
					<span class="fa-stack fa-lg">
					  <i class="fa fa-circle fa-stack-2x blue"></i>
					  <i class="fa fa-comment fa-stack-1x fa-inverse"></i>
					</span>
					<p>Parlez de votre interprétation. Le débat est sans fin ! Tellement riche !</p>
				</div>
			</div>
		</div>
		<div class="container-fluid bg-blue">
			<div class="row">
				<div class="col-sm-3 col-sm-offset-2">
				<img class="img-responsive center-block" src="{{ asset('images/lunettes-3d.png') }}" alt="lunettes">
				</div>
				<div class="col-sm-5">
					{% if app.user.username is defined %}
						<h3 class="text-center">Bienvenue dans la communauté UKRONIC</h3>
					{% else %}
						<h3 class="text-center">
							<a href="{{ path('fos_user_registration_register') }}">
								Inscrivez vous ! Rejoignez la communauté UKRONIC
							</a>
						</h3>
					{% endif %}
				</div>
			</div>
		</div>

	</section>

	<section id="fh5co-blog" class="fh5co-bg-section">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 fh5co-heading">
					<h2>Les derniers décryptages de films</h2>
				</div>
			</div>
			<div class="row animate-box">
				{% if lastMovieDecrypts is not empty %}
				{% for decrypt in lastMovieDecrypts %}

					<div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">

						<div class="decrypt"> {# fh5co-blog animate-box #}

							<a href="{{ path('decryptRead', {'id': decrypt.id}) }}"><img class="img-responsive" src="{{ decrypt.movie.posterURL }}" alt=""></a>
							{{ include('UkronicBundle:Decrypt:oneDecrypt.html.twig')}}
						</div>
					</div>

				{% endfor %}
				{% endif %}
				<div class="col-md-2">
					<a class="text-center text-underline" href="{{ path('decryptMovieDateAll') }}">Voir plus...</a>
				</div>
			</div>

			<div id="serie" class="row animate-box">
				<div class="col-md-8 fh5co-heading">
					<h2>Les derniers décryptages de séries</h2>
				</div>
			</div>

			<div class="row">
				{% if lastSerieDecrypts is not empty %}
				{% for decrypt in lastSerieDecrypts %}

					<div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
						<div class="decrypt">
							<a href="{{ path('decryptRead', {'id': decrypt.id}) }}"><img class="img-responsive" src="{{ decrypt.movie.posterURL }}" alt=""></a>
							{{ include('UkronicBundle:Decrypt:oneSerieDecrypt.html.twig')}}
						</div>
					</div>


				    
				{% endfor %}
				{% endif %}
				
				<div class="col-md-2">
					<a class="text-center text-underline" href="{{ path('decryptSerieDateAll') }}">Voir plus...</a>
				</div>
				
				
			</div>
			<div class="row animate-box">
				<div class="col-md-8 fh5co-heading">
					<h2>TOP 5 des films les plus décryptés</h2>
				</div>
			</div>
			
			<div class="row">
				
				{% if moreMovieDecrypts is not empty %}
				{% for item in moreMovieDecrypts %}
					
					
					

					<div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
						<div class="decrypt">
							<a href="{{ path('dbukronic', {'id': item[0].movie.id}) }}"><img class="img-responsive" src="{{ item[0].movie.posterURL }}" alt=""></a>
							<div class="decrypt-text">
								<h3 class="title-movie text-uppercase"><a href="{{path('dbukronic',{'id':item[0].movie.id})}}">{{ item[0].movie.title }}</a></h3>
								<p> {{ item[0].movie.productionYear }} </p>
								<p>{{ item["dcount"] }} décryptage(s)</p>

							</div> 
						</div>
					</div>


				    
				{% endfor %}
				{% endif %}
				<div class="col-md-2">
					<a class="text-center text-underline" href="{{ path('decryptMovieMoreAll') }}">Voir plus...</a>
				</div>
			</div>

			<div class="row animate-box">
				<div class="col-md-8 fh5co-heading">
					<h2>TOP 5 des séries les plus décryptées</h2>
				</div>
			</div>
			
				<div class="row">
					{% if moreSerieDecrypts is not empty %}
				{% for item in moreSerieDecrypts %}
					
					
					

					<div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
						<div class="decrypt">
							<a href="{{ path('dbukronic-serie', {'id': item[0].movie.id}) }}"><img class="img-responsive" src="{{ item[0].movie.posterURL }}" alt=""></a>
							<div class="decrypt-text">
								<h3 class="title-movie text-uppercase"><a href="{{path('dbukronic-serie',{'id':item[0].movie.id})}}">{{ item[0].movie.title }}</a></h3>
								<p> <a href="{{path('dbukronic-serie',{'id':item[0].movie.id})}}">"{{ item[0].movie.episodeTitle }}" </a></p>
								<p>Saison {{ item[0].movie.season }} Episode {{ item[0].movie.episode }}</p>
								<p> {{ item[0].movie.productionYear }} </p>
								<p>
									{{ item["dcount"] }} décryptage(s)
								</p>
								

							</div> 
						</div>
					</div>


				    
				{% endfor %}
				{% endif %}
				<div class="col-md-2">
					<a class="text-center text-underline" href="{{ path('decryptSerieMoreAll') }}">Voir plus...</a>
				</div>
				</div>
		</div>
	</section>
{% endblock %}