{% import 'UkronicBundle::macros.html.twig' as macros %}
{% extends 'UkronicBundle::layout.html.twig' %}

{% block content %}
	
	<div id="fh5co-blog" class="fh5co-bg-section">
		<div class="container">
			<div class="row animate-box">

				<div class="fh5co-heading">

					<h2>Les derniers décryptages de séries</h2>
					
				</div>
			</div>
			<div class="row animate-box">
				{% if lastSerieDecrypts is not empty %}
				{% for decrypt in lastSerieDecrypts %}

					<div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
						<div class=" decrypt"> {# fh5co-blog animate-box #}
							<a href="{{ path('decryptRead', {'id': decrypt.id}) }}"><img class="img-responsive" src="{{ decrypt.movie.posterURL }}" alt=""></a>
							{{ include('UkronicBundle:Decrypt:oneSerieDecrypt.html.twig')}}
						</div>
					</div>

				{% endfor %}
				{% endif %}
				<div class="col-md-2 col-sm-4 col-xs-6">
					<a class="text-center text-underline" href="{{ path('decryptSerieDateAll') }}">Voir plus...</a>
				</div>
				
				
			</div>	
				
			
			<div class="row animate-box">

				<div class="col-md-8 col-xs-12 fh5co-heading">

					<h2>TOP 5 des séries les plus décryptées</h2>
				</div>
			</div>
			
			<div class="row">
				
				{% if moreSerieDecrypts is not empty %}
				{% for item in moreSerieDecrypts %}
					
					<div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
						<div class="decrypt">
							<a href="{{ path('dbukronic-serie', {'id': item[0].movie.id}) }}"><img class="img-responsive" src="{{ item[0].movie.posterURL }}" alt=""></a>
							<div class="decrypt-text">
								<h3 class="title-movie"><a href="{{path('dbukronic-serie',{'id':item[0].movie.id})}}">{{ item[0].movie.title }}</a></h3>
								<p> <a href="{{path('dbukronic-serie',{'id':item[0].movie.id})}}">"{{ item[0].movie.episodeTitle }}" </a></p>
								<p>Saison {{ item[0].movie.season }} Episode {{ item[0].movie.episode }}</p>
								<p> {{ item[0].movie.productionYear }} </p>
								<p>{{ item["dcount"] }} décryptage(s)</p>

							</div> 
						</div>
					</div>

				{% endfor %}
				{% endif %}
				<div class="col-md-2 col-sm-4 col-xs-6">
					<a class="text-center text-underline" href="{{ path('decryptSerieMoreAll') }}">Voir plus...</a>
				</div>
			</div>

			<div class="row animate-box">
				<div class="col-md-8 fh5co-heading">
					<h2>TOP 5 des décryptages les plus lus</h2>
				</div>
			</div>

			<div class="row animate-box">
				{% if moreReadSerieDecrypts is not empty %}
				{% for decrypt in moreReadSerieDecrypts %}
					
					
					

					<div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
						<div class=" decrypt"> {# fh5co-blog animate-box #}
							<a href="{{ path('decryptRead', {'id': decrypt.id}) }}"><img class="img-responsive" src="{{ decrypt.movie.posterURL }}" alt=""></a>
							<div class="decrypt-text">
								<h3 class="title-movie"><a href="{{path('dbukronic-serie',{'id':decrypt.movie.id})}}">{{ decrypt.movie.title }}</a></h3>
								<p> <a href="{{path('dbukronic-serie',{'id':decrypt.movie.id})}}">"{{ decrypt.movie.episodeTitle }}" </a></p>
								<p>Saison {{ decrypt.movie.season }} Episode {{ decrypt.movie.episode }}</p>
								<p>Par : <a class="text-underline" href="{{path('profile',{'id':decrypt.user.id})}}"> {{ decrypt.user.username }} </a></p>
								
								<p>
									{{ decrypt.nbRead }} <img class="icon-ukronic" src="{{ asset('images/side-view-of-sitting-man-reading_318-29449.jpg') }}" alt="lecture">{# Lectures #}
								</p>

							</div> 
						</div>
					</div>


				    
				{% endfor %}
				{% endif %}
				<div class="col-md-2 col-sm-4 col-xs-6">
					<a class="text-center text-underline" href="{{ path('decryptSerieMoreReadAll') }}">Voir plus...</a>
				</div>
				
				
			</div>	
			
			<div class="row animate-box">

				<div class="col-md-8 col-xs-12 fh5co-heading">

					<h2>TOP 5 des décryptages les plus likés</h2>
				</div>
			</div>
			



			
			<div class="row animate-box">
				{% if moreLikeSerieDecrypts is not empty %}
				{% for item in moreLikeSerieDecrypts %}

					<div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
						<div class=" decrypt"> {# fh5co-blog animate-box #}
							<a href="{{ path('decryptRead', {'id': item[0].decrypt.id}) }}"><img class="img-responsive" src="{{ item[0].decrypt.movie.posterURL }}" alt=""></a>
							<div class="decrypt-text">
								<h3 class="title-movie"><a href="{{path('dbukronic-serie',{'id':item[0].decrypt.movie.id})}}">{{ item[0].decrypt.movie.title }}</a></h3>
								<p> <a href="{{path('dbukronic-serie',{'id':item[0].decrypt.movie.id})}}">"{{ item[0].decrypt.movie.episodeTitle }}" </a></p>
								<p>Saison {{ item[0].decrypt.movie.season }} Episode {{ item[0].decrypt.movie.episode }}</p>
								<p>Par : <a class="text-underline" href="{{path('profile',{'id':item[0].decrypt.user.id})}}"> {{ item[0].decrypt.user.username }} </a></p>
								<p>
									{{ item.bcount }} <img class="icon-ukronic" src="{{ asset('images/FBLike-Icon_300_v2.png') }}" alt="like">{# LIKE #}
								</p>

							</div> 
						</div>
					</div>


				    
				{% endfor %}
				{% endif %}
				<div class="col-md-2">
					<a class="text-center text-underline" href="{{ path('decryptSerieLikeAll') }}">Voir plus...</a>
				</div>
				
				
			</div>	

			<div class="row animate-box">

				<div class="col-md-8 col-xs-12 fh5co-heading">

					<h2>TOP 5 des décryptages les plus commentés</h2>
				</div>
			</div>

			

			<div class="row">
				
				{% if moreCommentSerieDecrypts is not empty %}
				{% for item in moreCommentSerieDecrypts %}
					
					<div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
						<div class="decrypt">
							<a href="{{ path('dbukronic-serie', {'id': item[0].movie.id}) }}"><img class="img-responsive" src="{{ item[0].movie.posterURL }}" alt=""></a>
							<div class="decrypt-text">
								<h3 class="title-movie"><a href="{{path('dbukronic-serie',{'id':item[0].movie.id})}}">{{ item[0].movie.title }}</a></h3>
								<p> <a href="{{path('dbukronic-serie',{'id':item[0].movie.id})}}">"{{ item[0].movie.episodeTitle }}" </a></p>
								<p>Saison {{ item[0].movie.season }} Episode {{ item[0].movie.episode }}</p>
								{# <p> {{ item[0].movie.productionYear }} </p> #}
								<p>Par <a class="text-underline" href="{{path('profile',{'id':item[0].user.id})}}"> {{ item[0].user.username }} </a></p>
								<p><a href="{{ path('decryptRead', {'id': item[0].id}) }}">" {{ item[0].title }} "</a></p>
								<p>{{ item["ccount"] }} <img class="icon-ukronic" src="{{ asset('images/Comment-edit-icon.png') }}" alt="commentaire">{# commentaire(s) #}</p>

							</div> 
						</div>
					</div>

				{% endfor %}
				{% endif %}
				<div class="col-md-2 col-sm-4 col-xs-6">
					<a class="text-center text-underline" href="{{ path('decryptSerieCommentAll') }}">Voir plus...</a>
				</div>


		</div>
	</div>
{% endblock %}