{% extends 'UkronicBundle::layout.html.twig' %}

{% block content %}
	
	
	
    


	<div id="fh5co-blog" class="fh5co-bg-section">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Les derniers décryptages de films</h2>
					
				</div>
			</div>
			<div class="row animate-box">
				{% if lastMovieDecrypts is not empty %}
				{% for decrypt in lastMovieDecrypts %}
					
					
					

					<div class="col-lg-2 col-md-2 col-xs-2">
						<div class=" decrypt"> {# fh5co-blog animate-box #}
							<a href="{{ path('decryptRead', {'id': decrypt.id}) }}"><img class="img-responsive" src="{{ decrypt.movie.posterURL }}" alt=""></a>
							<div class="decrypt-text">
								<h3 class="title-movie"><a href="{{path('dbukronic',{'id':decrypt.movie.id})}}">{{ decrypt.movie.title }}</a></h3>
								<p><span class="vintage">Décrypteur : </span><a href="{{path('profile',{'id':decrypt.user.id})}}"> {{ decrypt.user.username }} </a></p>
								<p>
									{% if decrypt.typeDecrypt == "S" %}
										Séquence
									{% else %}
										Hypothèse de Fin
									{% endif %}
								</p>
								<p><span class="vintage">Titre décryptage : </span><a href="{{ path('decryptRead', {'id': decrypt.id}) }}"> {{ decrypt.title }} </a></p>

							</div> 
						</div>
					</div>


				    
				{% endfor %}
				{% endif %}
				<div class="col-md-2">
					<a class="text-center" href="{{ path('decryptMovieDateAll') }}">TOUS</a>
				</div>
				
				
			</div>	
				
			
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>TOP 5 des films les plus décryptés</h2>
				</div>
			</div>
			
			<div class="row">
				
				{% if moreMovieDecrypts is not empty %}
				{% for item in moreMovieDecrypts %}
					
					<div class="col-lg-2 col-md-2">
						<div class="decrypt">
							<a href="{{ path('dbukronic', {'id': item[0].movie.id}) }}"><img class="img-responsive" src="{{ item[0].movie.posterURL }}" alt=""></a>
							<div class="decrypt-text">
								<h3 class="title-movie"><a href="{{path('dbukronic',{'id':item[0].movie.id})}}">{{ item[0].movie.title }}</a></h3>
								<p> {{ item[0].movie.productionYear }} </p>
								<p>{{ item["dcount"] }} décryptage(s)</p>

							</div> 
						</div>
					</div>

				{% endfor %}
				{% endif %}
				<div class="col-md-2">
					<a class="text-center" href="{{ path('decryptMovieMoreAll') }}">TOUS</a>
				</div>
			</div>

			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>TOP 5 des films les plus lus</h2>
				</div>
			</div>

			<div class="row animate-box">
				{% if moreReadMovieDecrypts is not empty %}
				{% for decrypt in moreReadMovieDecrypts %}
					
					
					

					<div class="col-lg-2 col-md-2 col-xs-2">
						<div class=" decrypt"> {# fh5co-blog animate-box #}
							<a href="{{ path('decryptRead', {'id': decrypt.id}) }}"><img class="img-responsive" src="{{ decrypt.movie.posterURL }}" alt=""></a>
							<div class="decrypt-text">
								<h3 class="title-movie"><a href="{{path('dbukronic',{'id':decrypt.movie.id})}}">{{ decrypt.movie.title }}</a></h3>
								<p><span class="vintage">Décrypteur : </span><a href="{{path('profile',{'id':decrypt.user.id})}}"> {{ decrypt.user.username }} </a></p>
								<p>
									{% if decrypt.typeDecrypt == "S" %}
										Séquence
									{% else %}
										Hypothèse de Fin
									{% endif %}
								<a href="{{ path('decryptRead', {'id': decrypt.id}) }}"> {{ decrypt.title }} </a></p>
								<p>
									{{ decrypt.nbRead }} Lectures
								</p>

							</div> 
						</div>
					</div>


				    
				{% endfor %}
				{% endif %}
				<div class="col-md-2">
					<a class="text-center" href="{{ path('decryptMovieDateAll') }}">TOUS</a>
				</div>
				
				
			</div>	
			
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>TOP 5 des films les plus likés</h2>
				</div>
			</div>
			



			
			<div class="row animate-box">
				{% if moreLikeDecrypts is not empty %}
				{% for decrypt in moreLikeDecrypts %}
					
					
					

					<div class="col-lg-2 col-md-2 col-xs-2">
						<div class=" decrypt"> {# fh5co-blog animate-box #}
							<a href="{{ path('decryptRead', {'id': decrypt.id}) }}"><img class="img-responsive" src="{{ decrypt.movie.posterURL }}" alt=""></a>
							<div class="decrypt-text">
								<h3 class="title-movie"><a href="{{path('dbukronic',{'id':decrypt.movie.id})}}">{{ decrypt.movie.title }}</a></h3>
								<p><span class="vintage">Par : </span><a href="{{path('profile',{'id':decrypt.user.id})}}"> {{ decrypt.user.username }} </a></p>
								<p>
									{% if decrypt.typeDecrypt == "S" %}
										Séquence
									{% else %}
										Hypothèse de Fin
									{% endif %}
								 : </span><a href="{{ path('decryptRead', {'id': decrypt.id}) }}"> {{ decrypt.title }} </a></p>
								<p>
									{{ decrypt.nbLiked }} LIKE
								</p>

							</div> 
						</div>
					</div>


				    
				{% endfor %}
				{% endif %}
				<div class="col-md-2">
					<a class="text-center" href="{{ path('decryptMovieDateAll') }}">TOUS</a>
				</div>
				
				
			</div>	

			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>TOP 5 des films les plus commentés</h2>
				</div>
			</div>

			

			<div class="row">
				
				{% if moreCommentMovieDecrypts is not empty %}
				{% for item in moreCommentMovieDecrypts %}
					
					<div class="col-lg-2 col-md-2">
						<div class="decrypt">
							<a href="{{ path('dbukronic', {'id': item[0].movie.id}) }}"><img class="img-responsive" src="{{ item[0].movie.posterURL }}" alt=""></a>
							<div class="decrypt-text">
								<h3 class="title-movie"><a href="{{path('dbukronic',{'id':item[0].movie.id})}}">{{ item[0].movie.title }}</a></h3>
								<p> {{ item[0].movie.productionYear }} </p>
								<p>par {{ item[0].user.username }}</p>
								<p>" {{ item[0].title }} "</p>
								<p>{{ item["ccount"] }} commentaire(s)</p>

							</div> 
						</div>
					</div>

				{% endfor %}
				{% endif %}
				<div class="col-md-2">
					<a class="text-center" href="{{ path('decryptMovieMoreAll') }}">TOUS</a>
				</div>


		</div>
	</div>
{% endblock %}