{% extends 'UkronicBundle::layout.html.twig' %}

{% block content %}
	<div>
		<img class="ukronic_fond" src="{{asset("images/Image public big.png") }}" alt="">
	</div>



    


	<div id="fh5co-blog" class="fh5co-bg-section">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Les derniers décryptages de films</h2>
				</div>
			</div>
			<div class="row">
				{% if lastMovieDecrypts is not empty %}
				{% for decrypt in lastMovieDecrypts %}
					
					
					

					<div class="col-lg-4 col-md-4">
						<div class="fh5co-blog animate-box decrypt">
							<a href="{{ path('decryptRead', {'id': decrypt.id}) }}"><img class="img-responsive" src="{{ decrypt.movie.posterURL }}" alt=""></a>
							<div class="blog-text">
								<h3 class="title-movie"><a href="{{path('dbukronic',{'id':decrypt.movie.id})}}">{{ decrypt.movie.title }}</a></h3>
								<p><span class="vintage">Décrypteur : </span><a href="{{path('profile',{'id':decrypt.user.id})}}"> {{ decrypt.user.username }} </a></p>
								<p><span class="vintage">Titre décryptage : </span><a href="{{ path('decryptRead', {'id': decrypt.id}) }}"> {{ decrypt.title }} </a></p>

							</div> 
						</div>
					</div>


				    
				{% endfor %}
				{% endif %}
				
				
			</div>

			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Les derniers décryptages de séries</h2>
				</div>
			</div>

			<div class="row">
				{% if lastSerieDecrypts is not empty %}
				{% for decrypt in lastSerieDecrypts %}
					
					
					

					<div class="col-lg-4 col-md-4">
						<div class="fh5co-blog animate-box decrypt">
							<a href="{{ path('decryptRead', {'id': decrypt.id}) }}"><img class="img-responsive" src="{{ decrypt.movie.posterURL }}" alt=""></a>
							<div class="blog-text">
								<h3 class="title-movie"><a href="{{path('dbukronic',{'id':decrypt.movie.id})}}">{{ decrypt.movie.title }}</a></h3>
								<p><span class="vintage">Décrypteur : </span><a href="{{path('profile',{'id':decrypt.user.id})}}"> {{ decrypt.user.username }} </a></p>
								<p><span class="vintage">Titre décryptage : </span><a href="{{ path('decryptRead', {'id': decrypt.id}) }}"> {{ decrypt.title }} </a></p>

							</div> 
						</div>
					</div>


				    
				{% endfor %}
				{% endif %}
				
				
			</div>
			<h3 class="text-center">TOP 5 des films les plus décryptés</h3>
			<div class="row">
				
				{% if moreMovieDecrypts is not empty %}
				{% for item in moreMovieDecrypts %}
					
					
					

					<div class="col-lg-4 col-md-4">
						<div class="fh5co-blog animate-box decrypt">
							<a href="{{ path('dbukronic', {'id': item[0].movie.id}) }}"><img class="img-responsive" src="{{ item[0].movie.posterURL }}" alt=""></a>
							<div class="blog-text">
								<h3 class="title-movie"><a href="{{path('dbukronic',{'id':item[0].movie.id})}}">{{ item[0].movie.title }}</a></h3>
								

							</div> 
						</div>
					</div>


				    
				{% endfor %}
				{% endif %}
			</div>
			<h3 class="text-center">TOP 5 des séries les plus décryptées</p>
				<div class="row">
					{% if moreSerieDecrypts is not empty %}
				{% for item in moreSerieDecrypts %}
					
					
					

					<div class="col-lg-4 col-md-4">
						<div class="fh5co-blog animate-box decrypt">
							<a href="{{ path('dbukronic', {'id': item[0].movie.id}) }}"><img class="img-responsive" src="{{ item[0].movie.posterURL }}" alt=""></a>
							<div class="blog-text">
								<h3 class="title-movie"><a href="{{path('dbukronic',{'id':item[0].movie.id})}}">{{ item[0].movie.title }}</a></h3>
								
								

							</div> 
						</div>
					</div>


				    
				{% endfor %}
				{% endif %}
				</div>

			






		</div>
	</div>
{% endblock %}