{% extends 'UkronicBundle::layout.html.twig' %}

{% block content %}

	{# page profil #}
	<h2 class="text-center">Mon Profil</h2>
	<div class="row">
		<div class="col-md-3 col-md-offset-1">
		{% set chemin = "images/users/" ~ app.user.imageName %}
		<img src="{{ asset(chemin) }}" alt="{{ app.user.username }}" width=300px height=300px >
		<a href="{{ path('imageUser',{'id' : app.user.id }) }}">Modifier la photo</a>
		</div>
		<div class="col-md-7 col-md-offset-1">
			
			<p>Film préféré : 
				{% if preferedMovie.id is defined %}
					<a href="{{ path('dbukronic',{'id': preferedMovie.id}) }}">
						{{ preferedMovie.title }}
					</a>
				{% else %}
					non renseigné
				{% endif %}
			 </p>
			<p>Film ou j'ai rien compris : 
				{% if ambiguousMovie.id is defined %}
					<a href="{{ path('dbukronic',{'id': ambiguousMovie.id}) }}">
						{{ ambiguousMovie.title }}
					</a>
				{% else %}
					non renseigné
				{% endif %}
				
			</p>
			<p>Film balaise où j'ai (peut être) tout compris : 
				{% if understandMovie.id is defined %}
					<a href="{{ path('dbukronic',{'id': understandMovie.id}) }}">
						{{ understandMovie.title }}
					</a>
				{% else %}
					non renseigné
				{% endif %}
			</p>
		</div>

	</div>

	<div class="row">
		
		<div class="col-md-4 col-md-offset-1">
			<h2 class="text-center">Mon activité</h2>
			<div>
				mes stats
				<p> {{ nbLikes | number_format }} likes postés</p>
				<p>{{ nbComment | number_format }} commentaires postés</p>
				<p> {{ nbSequence | number_format }} séquences décryptées</p>
				<p> {% if nbSequence100 is defined %} {{ nbSequence100 | number_format }} {% else %} inconnu {% endif %} - 100 mots</p>
				<p> {{ nbSequence300 | number_format }} - 300 mots</p>
				<p> {{ nbSequenceO300 | number_format }} + 300 mots</p>
				<p> {{ nbEnd  | number_format}} fin de films décryptés</p>
				<p> {{ nbEnd100 | number_format }}  - 100 mots</p>
				<p> {{ nbEnd300 | number_format }}  - 300 mots</p>
				<p> {{ nbEndO300 | number_format }} + 300 mots</p>

			</div>
		</div>
		<div class="col-md-7">
			<h2 class="text-center">Actualités</h2>
			<div>
				liste des actualités
				{% for histo in lastHistos %}
					<p>
						{{ app.user.username }} 
						{% if histo.action == 1 %}
							a commenté
						{% elseif histo.action == 2 %}
							a liké
						{% elseif histo.action == 3 %}
							{#
							a décrypté la fin pour 
							#}
							{{ render(controller('UkronicBundle:Decrypt:detail',{'id':histo.reference,'typeDecrypt':'F'}))}}
						{% elseif histo.action == 4 %}
							{#
							a décrypté la séquence pour
							#}
							{{ render(controller('UkronicBundle:Decrypt:detail',{'id':histo.reference,'typeDecrypt':'S'}))}}
						{% else %}
							action spéciale
						{% endif %}
						

						 {{ histo.dateAction | date("d/m/Y H:i") }} 
						
					</p>
				    
				{% endfor %}
			</div>

		</div>
	</div>
{% endblock %}