{% import 'UkronicBundle::macros.html.twig' as macros %}

{% extends "UkronicBundle::layout.html.twig" %}

{% block title %}Recherche Ukronic{% endblock %}

{% block content %}

	<section class="block-first container block-search-result">

	<h1 class="text-center">Résultats pour {{ title }}</h1>

		<h2 class="text-center">LES FILMS</h2>
		<div class="row">
				{% if movies.Search is defined %}
					{% for item in movies.Search %}


						<div class="col-md-3 col-sm-4 col-lg-2 col-xs-6 movie-content">
							<div class="decrypt">
								<a href="{{ path("movie", {'imdbID': item["imdbID"] , 'typeMovie' : 'F'}) }}">
								
									{{ macros.displayCheckImage(item["Poster"]) }}
									<div class="movie-content">
									<h3 class="title-movie"> {{ item["Title"] }} </h3>
									<p> {{ item["Year"] }} </p>
									</div>
								</a>
							</div>
						</div>

					{% endfor %}
				
				{% endif %}
			</div>

		<h2 class="text-center">LES SERIES</h2>
		<div class="row">
			{% if series.Search is defined %}
				{% for item in series.Search %}

					<div class="col-md-3 col-sm-4 col-lg-2 col-xs-6 movie-content">
						<div class="decrypt">
							<a href="{{ path("choiceSerie", {'id': item["imdbID"] }) }}">

									{{ macros.displayCheckImage(item["Poster"]) }}
								<div class="movie-content">
									
									<h3 class="title-movie"> {{ item["Title"] }} </h3>
									<p class ="vintage"> {{ item["Year"] }} </p>
									
								</div>
							</a>
						</div>
					</div>
				{% endfor %}
				
			{% endif %}
		</div>

	</section>

{% endblock %}
