{% import 'UkronicBundle::macros.html.twig' as macros %}

{% extends "UkronicBundle::layout.html.twig" %}

{% block title %}Recherche Ukronic TMDb{% endblock %}

{% block content %}

	<section class="block-first container block-search-result">

	<h1 class="text-center">Résultats pour {{ title }}</h1>

		<h2 class="text-center">LES FILMS</h2>
		<div class="row">
			
			{% if movies.results is defined %}
				
				{% for item in movies.results %}
					

					<div class="col-md-3 col-sm-4 col-lg-2 col-xs-6 movie-content">
						<div class="decrypt">
							<a href="{{ path("movieTMDB", {'tmdbId': item.id , 'typeMovie' : 'F'}) }}">
							
								{{ macros.displayImageTMDB(item.poster_path) }}
								<div class="movie-content">
								<h3 class="title-movie"> {{ item.title }} </h3>
								<p> {{ item.release_date[:4] }} </p>
								</div>
							</a>
						</div>
					</div>

				{% endfor %}
				

			{% endif %}
		</div>	

		<h2 class="text-center">LES SERIES</h2>
		<div class="row">
			{% if series.results is defined %}
				{% for item in series.results %}
					

					<div class="col-md-3 col-sm-4 col-lg-2 col-xs-6 movie-content">
						<div class="decrypt">
							<a href="{{ path("choiceSerieTMDB", {'id': item.id }) }}">

									{{ macros.displayImageTMDB(item.poster_path) }}
								<div class="movie-content">
									
									<h3 class="title-movie"> {{ item.name }} </h3>
									<p > {{ item.first_air_date[:4] }} </p>
									
								</div>
							</a>
						</div>
					</div>
					
					
					{#  {{ dump(item) }} #}
					
				{% endfor %}
				
			{% endif %}
		</div>

	</section>

{% endblock %}