<nav class="fh5co-nav" role="navigation">
    <div class="container">
      <div class="row">
        <div class="left-menu text-right menu-1">
          <ul>
            
            <li><a href="{{ path('search') }}">FILMS</a></li>
            <li><a href="{{ path('searchSerie') }}">SERIES</a></li>
            
          </ul>
        </div>
        <div class="logo">
          <div id="fh5co-logo">
            <a href="{{ path('main') }}">
              <img class="img-responsive" src="{{ asset("Ukronic-logo-blanc-web.png") }}" alt="" width=300px height=150px></a></div>
        </div>
        <div class="right-menu text-left menu-1">
          <ul>
            <li>
              {% if is_granted("ROLE_USER") %}
                <a href="{{ path('profile',{'id': app.user.id }) }}">PROFIL</a>
              {% else %}
                <a href="{{ path('fos_user_registration_register') }}"><i class="glyphicon glyphicon-lock"></i>
                  INSCRIPTION
                  </a>

              {% endif %}
            </li>
            
            <li class="has-dropdown">
              <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#"><i class="glyphicon glyphicon-user"></i> 
              {% if app.user.username is defined %}
                {{ app.user.username | upper }}
              {% else %}
                   <a href="{{ path('fos_user_security_login') }}"><i class="glyphicon glyphicon-lock"></i>
                    LOGIN
                  </a>   
              {% endif %} 
              <span class="caret"></span></a>
              <ul id="g-account-menu" class="dropdown-menu" role="menu">
              
              <li>
                {% if is_granted("ROLE_USER") %}       
                  <a href="{{ path('fos_user_security_logout') }}"><i class="glyphicon glyphicon-lock"></i>
                  LOGOUT
                  </a>
                
                {% endif %}
              </li>
              
            </ul>
            </li>
            
            
            
          </ul>
        </div>
      </div>
      
    </div>
  </nav>
  <header id="fh5co-header" class="fh5co-cover" role="banner" {#style="background-image:url({{ asset('images/img_bg_2.jpg') }});" #}>
    <div class="overlay"></div>
    
  </header>

<!-- Header -->
