{# allMovieLikeDecrypts.html.twig #}
{% extends 'UkronicBundle::layout.html.twig' %}

{% block content %}
	{{ dump(results) }}
	<div id="fh5co-blog" class="fh5co-bg-section">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Les décryptages likés</h2>
					
				</div>
			</div>
			<div class="row animate-box">
				{% if results is not empty %}
				{% for item in results %}
					
					
					

					<div class="col-lg-2 col-md-2 col-xs-2">
						<div class=" decrypt"> {# fh5co-blog animate-box #}
							<a href="{{ path('decryptRead', {'id': item[0].decrypt.id}) }}"><img class="img-responsive" src="{{ item[0].decrypt.movie.posterURL }}" alt=""></a>
							<div class="decrypt-text">
								<h3 class="title-movie"><a href="{{ path('dbukronic',{'id': item[0].decrypt.movie.id }) }}">{{ item[0].decrypt.movie.title }}</a></h3>
								<p><span class="vintage">Décrypteur : </span><a href="{{path('profile',{'id':item[0].decrypt.user.id})}}"> {{ item[0].decrypt.user.username }} </a></p>
								<p><span class="vintage">Titre décryptage : </span><a href="{{ path('decryptRead', {'id': item[0].decrypt.id}) }}"> {{ item[0].decrypt.title }} </a></p>
								<p>
									{{ item['bcount'] }} <img class="icon-ukronic" src="{{ asset('images/side-view-of-sitting-man-reading_318-29449.jpg') }}" alt="lecture">
								</p>

							</div> 
						</div>
					</div>


				    
				{% endfor %}
				{% endif %}
			</div>
		</div>
</div>
{% endblock %}