{# allMovieMoreReadDecrypts.html.twig #}

{% import 'UkronicBundle::macros.html.twig' as macros %}

{% extends 'UkronicBundle::layout.html.twig' %}

{% block content %}
	
	<div id="fh5co-blog" class="fh5co-bg-section">
		<div class="container">
			
			
			<div class="row animate-box">
				<div class="col-md-8 fh5co-heading">
					<h2>Les films décryptés les plus lus</h2>
				</div>
			</div>
			
			<div class="row">
				
				{% if results is not empty %}
					{% for item in results %}
						

						<div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
							<div class="decrypt">
								<a href="{{ path('dbukronic', {'id': item.movie.id}) }}">
									{# <img class="img-responsive" src="{{ item.movie.posterURL }}" alt=""> #}
									{{ macros.displayCheckImage(item.movie.posterURL) }}
								</a>
								<div class="decrypt-text">
									<h3 class="title-movie"><a href="{{path('dbukronic',{'id':item.movie.id})}}">{{ item.movie.title }}</a></h3>
									<p>Par : <a class="text-underline" href="{{path('profile',{'id':item.user.id})}}"> {{ item.user.username }} </a></p>
									<p>
									<i class="fa fa-quote-left" aria-hidden="true"></i> <a href="{{ path('decryptRead', {'id': item.id}) }}"> 
									{{ item.title }} 
									</a> <i class="fa fa-quote-right" aria-hidden="true"></i>
									</p>
									<p>{{ item.nbRead }} <img class="icon-ukronic" src="{{ asset('images/side-view-of-sitting-man-reading_318-29449.jpg') }}" alt="lecture">{#lecture(s)#}</p>

								</div> 
							</div>
						</div>

					    
					{% endfor %}
				{% endif %}
				
			</div>

			

		</div>
	</div>
{% endblock %}