{# allMovieLikeDecrypts.html.twig #}

{% import 'UkronicBundle::macros.html.twig' as macros %}

{% extends 'UkronicBundle::layout.html.twig' %}

{% block content %}
	
	<div id="fh5co-blog" class="fh5co-bg-section">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 fh5co-heading">
					<h2>Les décryptages likés</h2>
					
				</div>
			</div>
			<div class="row animate-box">
				{% if results is not empty %}
				{% for item in results %}
					
					
					

					<div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
						<div class="decrypt"> {# fh5co-blog animate-box #}
							<a href="{{ path('decryptRead', {'id': item[0].decrypt.id}) }}">
								{# <img class="img-responsive" src="{{ item[0].decrypt.movie.posterURL }}" alt=""> #}
								{{ macros.displayCheckImage(item[0].decrypt.movie.posterURL) }}
							</a>
							

							<div class="decrypt-text">
								<h3 class="title-movie"><a href="{{path('dbukronic',{'id':item[0].decrypt.movie.id})}}">{{ item[0].decrypt.movie.title }}</a></h3>
								<p>Par : <a class="text-underline" href="{{path('profile',{'id':item[0].decrypt.user.id})}}"> {{ item[0].decrypt.user.username }} </a></p>
								<p>
									<i class="fa fa-quote-left" aria-hidden="true"></i> <a href="{{ path('decryptRead', {'id': item[0].decrypt.id}) }}"> 
									{{ item[0].decrypt.title }} 
								</a> <i class="fa fa-quote-right" aria-hidden="true"></i>
								</p>
								<p>
									{{ item.bcount }} <img class="icon-ukronic" src="{{ asset('images/FBLike-Icon_300_v2.png') }}" alt="like">{# LIKE #}
								</p>

							</div> 
						</div>
					</div>


				    
				{% endfor %}
				{% endif %}
			</div>
		</div>
</div>
{% endblock %}
