{% extends 'UkronicBundle::layout.html.twig' %}

{% block content %}


<div id="fh5co-blog" class="fh5co-bg-section">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 fh5co-heading">
					<h2>Les décryptages commentés</h2>
					
				</div>
			</div>
			<div class="row animate-box">
				{% if results is not empty %}
				{% for item in results %}
					
					
					

					<div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
						<div class="decrypt">
							<a href="{{ path('dbukronic-serie', {'id': item[0].movie.id}) }}"><img class="img-responsive" src="{{ item[0].movie.posterURL }}" alt=""></a>
							<div class="decrypt-text">
								<h3 class="title-movie"><a href="{{path('dbukronic-serie',{'id':item[0].movie.id})}}">{{ item[0].movie.title }} : " {{ item[0].movie.episodeTitle}} "</a></h3>
								<p> {{ item[0].movie.productionYear }} </p>
								<p>par <a href="{{path('profile',{'id':item[0].user.id})}}"> {{ item[0].user.username }} </a></p>
								<p><a href="{{ path('decryptRead', {'id': item[0].id}) }}">" {{ item[0].title }} "</a></p>
								<p>{{ item["ccount"] }} <img class="icon-ukronic" src="{{ asset('images/Comment-edit-icon.png') }}" alt="commentaire">{# commentaire(s) #}</p>

							</div> 
						</div>
					</div>


				    
				{% endfor %}
				{% endif %}
			</div>
		</div>
</div>
{% endblock %}