<div class="decrypt-text">
	<h3 class="title-movie"><a href="{{path('dbukronic',{'id':decrypt.movie.id})}}">{{ decrypt.movie.title }}</a></h3>
	<p>Par : <a class="text-underline" href="{{path('profile',{'id':decrypt.user.id})}}"> {{ decrypt.user.username }} </a></p>
	
	<p><i class="fa fa-quote-left" aria-hidden="true"></i> <a href="{{ path('decryptRead', {'id': decrypt.id}) }}"> 
		{% if decrypt.typeDecrypt == "S" %}
			{# La séquence #}
			{{ macros.sequenceContent(decrypt.title,30) }}
		{% else %}
			{# Hypothèse de Fin #}
			{{ macros.finContent(decrypt.title,30) }}
		{% endif %}
		{# {{ decrypt.title }} #}
		</a> <i class="fa fa-quote-right" aria-hidden="true"></i>
	</p>
	<p> {{ decrypt.wordCount }} mots - {{ decrypt.dateDecrypt | date("d/m/Y") }} 
	</p>

</div> 