{% extends 'UkronicBundle::layout.html.twig' %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-md-offset-4"> 	
		
		{{ form_start(form) }}
		<div>
			<img class="img-responsive" src="{{ asset(user.imageName) }}" >
		</div>
		<div class="form-group">
		
		{{ form_widget(form.imageFile) }}
		</div>

		{{ form_widget(form.save) }}
		{{ form_rest(form) }}
			
		{{ form_end(form) }} 
		</div>
		</div>
	</div>

{% endblock %}