{% trans_default_domain 'FOSUserBundle' %}

<section class="block-first">
	<h2 class="text-center">Réinitialisation du mot de passe</h2>
{{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}
    
     {% for passwordField in form.plainPassword %}
    <div class="form-group">
        {{ form_label(passwordField, null, { 'attr': {'class': 'form-label'} }) }}
        {{ form_widget(passwordField, { 'attr': {'class': 'form-control'} }) }}
    </div>
	{% endfor %}

    <div>
        <input class="btn-blue" type="submit" value="{{ 'resetting.reset.submit'|trans }}" />
    </div>
    {{ form_rest(form) }}
{{ form_end(form) }}
</section>
