{% extends 'UkronicBundle::layout.html.twig' %}

{% block content %}
	<h2 class="text-center">DECRYPTAGES</h2>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<table class="table">
					
					<tr>
						<th>Id</th>
						<th>Titre</th>
						<th>Film</th>
						<th>Likes</th>
						<th>Commentaires</th>
						
					</tr>
					{% for decrypt in decrypts %}
						<tr>
							<td> {{ decrypt.id }} </td>
							<td> {{ decrypt.title }} </td>
							<td> {{ decrypt.movie.title }} </td>
							<td> {{ decrypt.likes | length }} </td>
							<td> {{ decrypt.comments | length }}</td>

						</tr>
					{% endfor %}
				</table>
				
			</div>
		</div>
		
	</div>
{% endblock %}