{# rendu Decrypt.html.twig #}
{% if decrypt is not null %}
<td>Décryptage</td>
<td> 
	 {{ decrypt.title }} 

</td>
<td>  {{ decrypt.content }} </td>
<td>
	<button class="supprimer-decrypt btn-blue" data-button= {{ decrypt.id }} data-sig= {{idSig}} >DEL</button>
	<button class="ignorer-decrypt btn-blue" data-button= {{ decrypt.id }} data-sig= {{idSig}} >IGNORER</button>
</td>
{% else %}
	<td>Données supprimées</td>
{% endif %}
