{#  signalement.html.twig #}
{% extends 'UkronicBundle::layout.html.twig' %}

{% block content %}
	
	
	
	<div class="container-fluid block-first">
		<h2 class="text-center">SIGNALEMENTS</h2>
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<table class="table">
					<tr>
						<th>Id</th>
						<th>Date</th>
						<th>Support</th>
						<th>Titre</th>
						<th>Contenu</th>
						<th>Action</th>
					</tr>
					
					{% for signal in signalements %}
						<tr>
							<td> {{ signal.id }} </td>
							<td>  {{ signal.dateSig | date("d/m/Y") }} </td>
							
							{% if signal.type == "D" %}
								{{render(controller('UkronicBundle:Admin:renduDecryptAdmin',{'id':signal.ref,'idSig':signal.id}))}}
							{% elseif signal.type == "C" %}

								{{render(controller('UkronicBundle:Admin:renduCommentAdmin',{'id':signal.ref,'idSig':signal.id}))}}
							{% endif %}
							{#
							<td> {{ signal.type }} </td>
							<td> {{  signal.ref }} </td>
							#}
							
						</tr>

					{% endfor %}
					
				</table>
			</div>
		</div>
		
	</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
   <script>
   $(function(){
   	console.log("Jquery actif");
   	$('.ignorer-decrypt,.ignorer-comment').click(function(){
   		console.log("ignorer décryptage cliqué");
   		var myButton = $(this);
		var trButton = myButton.parent().parent();
		var monId = $(this).attr('data-button');
		console.log("monId : "+monId);
		var monIdSig = $(this).attr('data-sig');
		console.log("signalement : "+monIdSig);
		var monUrl = "{{ path('ignoreSignalementAdmin',{ 'idSig': 'monIdSig'}) }}";
		monUrl = monUrl.replace('monIdSig',monIdSig);
		console.log(monUrl);
		$.ajax({
			url: monUrl,
			datatype: "json"
		}).done(function(){
			console.log("Ignore réussi");
			trButton.hide();
		}).fail(function(){
			console.log("Ignore ajax échec");
		});
   	});

   	$('.supprimer-decrypt').click(function(){
   		console.log("supprimer décryptage cliqué");
   		var myButton = $(this);
		var trButton = myButton.parent().parent();
		var monId = $(this).attr('data-button');
		console.log("monId : "+monId);
		var monIdSig = $(this).attr('data-sig');
		console.log("signalement : "+monIdSig);
		var monUrl = "{{ path('delDecryptAdmin',{'id': 'monId','idSig': 'monIdSig'}) }}";
		monUrl = monUrl.replace('monId',monId);
		monUrl = monUrl.replace('monIdSig',monIdSig);
		console.log(monUrl);
		$.ajax({
			url: monUrl,
			datatype: "json"
		}).done(function(){
			console.log("Suppression décryptage réussi");
			trButton.hide();
		}).fail(function(){
			console.log("Suppression décryptage ajax échec");
		});
   	});

   	$('.supprimer-comment').click(function(){
   		console.log("supprimer commentaire cliqué");
   		var myButton = $(this);
		var trButton = myButton.parent().parent();
		var monId = $(this).attr('data-button');
		var monIdSig = $(this).attr('data-sig');
		console.log("monId : "+monId);
		var monUrl = "{{ path('delCommentAdmin',{'id': 'monId', 'idSig': 'monIdSig'}) }}";
		monUrl = monUrl.replace('monId',monId);
		monUrl = monUrl.replace('monIdSig',monIdSig);
		console.log("MonUrl : "+monUrl);
		$.ajax({
			url: monUrl,
			datatype: "json"
		}).done(function(){
			console.log("Suppression commentaire réussi");
			trButton.hide();
		}).fail(function(){
			console.log("Suppression commentaire ajax échec");
		});
   	});


   });
   </script>
    
{% endblock %}